@charset "UTF-8";


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Navbar
 */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: .75rem;
  font-size: 1rem;
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #999;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active,
.sidebar .nav-link.active .feather {
  color: #007bff;
}

.sidebar .router-link-active,
.sidebar .router-link-active .feather {
    color: #007bff;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:hover .feather {
  color: #333;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */
[role="main"] {
  padding-top: 24px; /* Space for fixed navbar */
}

[role="main"] a, [role="main"] a:hover {
  color: #222222;
}

[role="main"] ul li {
  padding: 5px;
}