<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>View Rendering</title>

    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/default.css}" rel="stylesheet">
    <link th:href="@{/assets/css/messages/messages.css}" rel="stylesheet">
</head>
<body>
<div class="card">
    <div class="card-header">
        Rendered View (<span th:text="${#dates.format(#dates.createNow(),'yyyy-MM-dd hh:mm:ss')}"></span>)
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">foo</dt>
            <dd class="col-sm-10" th:text="${foo}"></dd>
            <dt class="col-sm-2">fruit</dt>
            <dd class="col-sm-10" th:text="${fruit}"></dd>
        </dl>
    </div>
</div>
</body>
</html>